@using FinalProject_RedditClone.Utility.ViewModels;
@model ForumDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Forum.Title</h1>

<div>
    <h4>@Model.Forum.Description</h4>
    <h5>Likes: </h5>
    <div class="row pull-left">
        @if(User.IsInRole("Admin") || User.IsInRole("Contributor"))
        {
            <div class="col">
                <form asp-controller="Forum" asp-action="AddVote">
                    <input type="hidden" asp-for="@Model.ForumId" value="@Model.Forum.Id"/>
                    <button class="btn btn-primary" type="submit">Like</button>
                </form>
            </div>

            <div class="col">
                <form>
                    <button class="btn btn-primary" asp-controller="Posts" asp-action="Create">New Post</button>
                </form>
            </div>
        }
        
        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <form>
                    <button class="btn btn-primary" asp-controller="Forum" asp-action="Delete">Delete Forum</button>
                </form>
            </div>
        }
    </div>
    <br />
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">

                @foreach (var post in Model.Posts)
                {
                    <div class="post">
                        <div class="wrap-ut pull-left">
                            <div class="userinfo pull-left">
                                <div class="avatar">
                                    <img src="images/avatar.jpg" alt="" />
                                    <div class="status green">&nbsp;</div>
                                </div>

                                <div class="icons">
                                    <img src="images/icon1.jpg" alt="" /><img src="images/icon4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="posttext pull-left">
                                <h2><a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h2>
                                <p>@post.Content</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="postinfo pull-left">
                            <div class="comments">
                                <div class="commentbg">
                                    560
                                    <div class="mark"></div>
                                </div>

                            </div>
                            <div class="views"><i class="fa fa-eye"></i> 1,568</div>
                            <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

            </div>

            @*<div class="col-lg-4 col-md-4">

                <!-- -->
                <div class="sidebarblock">
                    <h3>Top Forums</h3>
                    <div class="divline"></div>
                    <div class="blocktxt">
                        <ul class="cats">
                            @foreach (var forum in Model.Forums)
                            {
                                <li><a asp-controller="Forum" asp-action="Details" asp-route-id="@forum.Id">@forum.Title <span class="badge pull-right">20</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    
</div>
