@using FinalProject_RedditClone.Utility.ViewModels;
@model PostDetailsVM;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="post">
                <div class="wrap-ut pull-left">
                    <div class="userinfo pull-left">
                        <div class="avatar">
                            <img src="~/images/avatar.jpg" alt="" />
                            @*<div class="status green">&nbsp;</div>*@
                        </div>

                        <div class="icons">
                            <img src="~/images/icon1.jpg" alt="" /><img src="~/images/icon4.jpg" alt="" /><img src="~/images/icon5.jpg" alt="" /><img src="~/images/icon6.jpg" alt="" />
                        </div>
                    </div>
                    <div class="posttext pull-left">
                        <h2>@Model.Post.Title</h2>
                        <p>@Model.Post.Content</p>
                    </div>
                    <div class="clearfix"></div>
                </div>                              
                <div class="postinfobot">
                    @*<div class="likeblock pull-left">
                        <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>25</a>
                        <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>3</a>
                    </div>*@

                    <div class="likeblock pull-left">
                        <form id="upvote-form" method="post" asp-action="AddVote" style="display: inline-block;">
                            <input type="hidden" name="ForumId" value="@Model.Post.ForumId" />
                            <input type="hidden" name="PostId" value="@Model.Post.Id" />
                            <input type="hidden" name="IsUpvote" value="true" />
                            <button type="submit" style="display: none;"></button>
                        </form>
                        @{
                            int upvoteCount = Model.Votes.Count(v => v.IsUpvote);
                        }
                        <a href="#" class="up" id="upvote-button">
                            <i class="fa fa-thumbs-o-up"></i> @upvoteCount
                        </a>

                        @*<div class="status green">&nbsp;</div>*@

                        <form id="downvote-form" method="post" asp-action="AddVote"style="display: inline-block;">
                            <input type="hidden" name="ForumId" value="@Model.Post.ForumId" />
                            <input type="hidden" name="PostId" value="@Model.Post.Id" />
                            <input type="hidden" name="IsUpvote" value="false" />
                            <button type="submit" style="display: none;"></button>
                        </form>
                            @{
                                int downvoteCount = Model.Votes.Count(v => v.IsUpvote == false);
                            }
                        <a href="#" class="down" id="downvote-button">
                            <i class="fa fa-thumbs-o-down"></i> @downvoteCount
                        </a>
                    </div>

                    @*<div class="prev pull-left">                                        
                        <a href="#"><i class="fa fa-reply"></i></a>*@
                    </div>
                </div>
                <div class="clearfix"></div>

            @*Comment Form*@
            <div class="post">
                @using (Html.BeginForm("AddComment", "Posts", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.PostId)
                    <div class="topwrap">
                        <div class="topwrap wrap-ut">
                            <div class="userinfo pull-left">
                                <div class="avatar">
                                    <img src="~/images/avatar4.jpg" alt="">
                                    @*<div class="status red">&nbsp;</div>*@
                                </div>

                                <div class="icons">
                                    <img src="~/images/icon3.jpg" alt=""><img src="~/images/icon4.jpg" alt=""><img src="~/images/icon5.jpg" alt=""><img src="~/images/icon6.jpg" alt="">
                                </div>
                            </div>
                            <div class="posttext pull-left">
                                <div class="textwraper">
                                    <div class="postreply">Post a Reply</div>
                                    @Html.TextAreaFor(m => m.CommentText, new {placeholder = "Type your message here"})
                                    @*<textarea name="reply" id="reply" placeholder="Type your message here"></textarea>*@
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="postinfobot">
                            <div class="notechbox pull-left">
                                <input type="checkbox" name="note" id="note" class="form-control" hidden="hidden">
                            </div>

                            <div class="pull-left">
                                <label for="note" hidden="hidden"> Email me when some one post a reply</label>
                            </div>

                            <div class="pull-right postreply">
                                <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                                <div class="pull-left"><button type="submit" class="btn btn-primary">Post Reply</button></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>

            @foreach (var comment in Model.Comments)
            {
                <div class="post">
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="images/avatar2.jpg" alt="" />
                                <div class="status red">&nbsp;</div>
                            </div>

                            <div class="icons">
                                <img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <p>@comment.CommentText</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfobot">

                        <div class="likeblock pull-left">
                            <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                            <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>1</a>
                        </div>

                        <div class="prev pull-left">
                            <a href="#"><i class="fa fa-reply"></i></a>
                        </div>

                        <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : @comment.CreatedAt</div>

                        <div class="next pull-right">
                            <a href="#"><i class="fa fa-share"></i></a>

                            <a href="#"><i class="fa fa-flag"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </div>

        <div class="col-lg-4 col-md-4">

            <!-- -->
            <div class="sidebarblock">
                <h3>Related Posts</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                        @foreach (var post in Model.RelatedPosts)
                        {
                            <li><a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title<span class="badge pull-right">20</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Post.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    const upvoteButton = document.getElementById("upvote-button");
    const upvoteForm = document.getElementById("upvote-form");

    upvoteButton.addEventListener("click", function () {
        // Submit the form
        upvoteForm.submit();
    });

    const downvoteButton = document.getElementById("downvote-button");
    const downvoteForm = document.getElementById("downvote-form");

    downvoteButton.addEventListener("click", function () {
        // Submit the form
        downvoteForm.submit();
    });
</script>

